{% extends "layout.html" %}
  
{% block body %}


    

        <div class="jumbotron">
            <h1>Bem vindo </h1>
            <h1>Acompanhe os meus Projetos na area de Ciências de Dados</h1>
            <p class="lead"></p>
            <p><a class="btn-lg btn-success" href="cadastro" role="button">Faça Seus Cadastro</a></p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Projeto Dados Aberto CNPJ</h4>
                <p> Obtenção de Informações de todas as Empresas do Brasil</p>
            </div>
        </div>



    


  {% endblock body %}



    
